<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Изменение</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/update/{id} (id =${user.getId()})}" th:object="${user}">
  <label for="username">Изменить имя: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <br>
  <label for="password">Изменить пароль: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <br>
  <label for="email">Изменить eMail: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <br>
  <input type="submit" value="Изменить!"/>
</form>
<br/>
<br/>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Выйти"/>
</form>
</body>
</html>