<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script>
        function show(shown, hidden) {
            document.getElementById(shown).style.display = 'block';
            document.getElementById(hidden).style.display = 'none';
            return false;
        }
    </script>
</head>
<body>


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <span class="navbar-text text-white font-weight-bold" th:text="${userNav.getEmail()}"></span>
            <span class="navbar-text text-white">with roles:</span>
            <span class="navbar-text text-white" th:text="${userNav.getRoles()}"></span>
        </div>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid bg-light">

    <div class="row">
        <!-- left-panel -->
        <div class="col-2 bg-white pt-3 px-0">
            <div class="container-fluid bg-white">
                <ul class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <li class="nav-item">
                        <a href="/admin/users" class="nav-link active">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/admin_all_user" class="nav-link">User</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- left-panel -->


        <!-- Admin panel -->
        <div class="col-10" style="background-color:#fafafa ;">
            <div class="container-fluid" id="showUsers">
                <br>
                <h1>Admin panel</h1>
                <br>
                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" onclick="return show('showUsers','addUser');">Users Table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="return show('addUser','showUsers');">New user</a>
                        </li>
                    </ul>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>eMail</th>
                        <th>Возраст</th>
                        <th>Роль</th>
                        <th>Изменить</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user1 : ${users}">
                        <td th:utext="${user1.getId()}"></td>
                        <td th:utext="${user1.getUsername()}"></td>
                        <td th:utext="${user1.getEmail()}"></td>
                        <td th:utext="${user1.getAge()}"></td>
                        <td th:utext="${user1.getRoles()}"></td>
                        <td>
                            <button type="button" class="btn btn-info" style="color: white" data-toggle="modal" th:data-target="${'#edit' + user1.id}">Изменить</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" style="color: white" data-toggle="modal" th:data-target="${'#delete' + user1.id}">Удалить</button>
                        </td>
                        <div class="modal fade" th:id="${'edit' + user1.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Изменение юзера</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <form style="text-align: center; font-weight:bold" th:action="@{/admin/update}" th:object="${user1}" th:method="PATCH">
                                            <div class="form-group col-8 container-sm bg-white justify-content-center">
                                                <div class="modal-body">
                                                    <div class="form-group mx-sm-3" >
                                                        <strong><label for="idUp" class="col-form-label" >ID</label></strong>
                                                        <br>
                                                        <input class="form-control" type="number" th:value="${user1.id}" readonly id="idUp" name="id">
                                                    </div>
                                                    <div class="form-group mx-sm-3">
                                                        <strong><label for="usernameUp" class="col-form-label">Имя</label></strong>
                                                        <br>
                                                        <input type="text" class="form-control" id="usernameUp" th:value="${user1.username}" name="username">
                                                    </div>
                                                    <div class="form-group mx-sm-3">
                                                        <strong><label for="emailUp" class="col-form-label">eMail</label></strong>
                                                        <br>
                                                        <input type="text" class="form-control" id="emailUp" th:value="${user1.email}" name="email" >
                                                    </div>
                                                    <div class="form-group mx-sm-3">
                                                        <strong><label for="ageUp" class="col-form-label">Возраст</label></strong>
                                                        <br>
                                                        <input type="number" class="form-control" id="ageUp" th:value="${user1.age}" name="age">
                                                    </div>
                                                    <div class="form-group mx-sm-3">
                                                        <strong><label for="passwordUp" class="col-form-label">Пароль</label></strong>
                                                        <br>
                                                        <input type="text" class="form-control" id="passwordUp"  name="password">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <strong><label for="roleUp">Роль</label></strong>
                                                        <select multiple class="custom-select w-60"
                                                                size="2" id="roleUp" name="role">
                                                            <option
                                                                    th:each="role : ${roleSet}"
                                                                    th:text="${role.getName()}"
                                                                    th:value="${role.name}">

                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Выйти</button>
                                                <input type="submit" class="btn btn-primary" value="Изменить">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" th:id="${'delete' + user1.id}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Удаление юзера</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <form style="text-align: center; font-weight:bold" th:action="@{/admin/delete/{id}(id=${user1.id})}" th:object="${user1}" th:method="DELETE">
                                            <div class="form-group col-8 container-sm bg-white justify-content-center">
                                                <div class="modal-body">
                                                    <div class="form-group mx-sm-3" >
                                                        <strong><label for="idDelete" class="col-form-label" >ID</label></strong>
                                                        <br>
                                                        <input class="form-control" type="number" th:value="${user1.id}" readonly id="idDelete" name="idDelete">
                                                    </div>
                                                    <div class="form-group mx-sm-3" >
                                                        <strong><label for="nameDelete" class="col-form-label" >Имя</label></strong>
                                                        <br>
                                                        <input class="form-control" type="number" th:value="${user1.username}" readonly id="nameDelete" name="nameDelete">
                                                    </div>
                                                    <div class="form-group mx-sm-3" >
                                                        <strong><label for="emailDelete" class="col-form-label" >eMail</label></strong>
                                                        <br>
                                                        <input class="form-control" type="number" th:value="${user1.email}" readonly id="emailDelete" name="emailDelete">
                                                    </div>
                                                    <div class="form-group mx-sm-3" >
                                                    <strong><label for="ageDelete" class="col-form-label" >возраст</label></strong>
                                                    <br>
                                                    <input class="form-control" type="number" th:value="${user1.age}" readonly id="ageDelete" name="ageDelete">
                                                    </div>
                                                    <div class="form-group">
                                                        <strong><label for="delRole">Role</label></strong>
                                                        <select multiple class="custom-select w-60"
                                                                size="2" id="delRole" name="role" disabled>
                                                            <option
                                                                    th:each="role : ${roleSet}"
                                                                    th:text="${role.getName()}"
                                                                    th:value="${role.name}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Выйти</button>
                                                <input type="submit" class="btn btn-danger" value="Удалить">
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-fluid" id="addUser" style="display: none">
                <br>
                <h1>Admin panel</h1>
                <br>
                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" onclick="return show('showUsers','addUser');">Users Table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" onclick="return show('addUser','showUsers');">New user</a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-block">
                        <div class="col border bg-light">
                            <h4 style="padding: 10px 10px 10px 15px">Добавление нового юзера</h4>
                        </div>
                        <div class="container-fluid border bg-white py-3 px-4">
                            <form th:action="@{/admin/new}" th:object="${user}" th:method="POST" style="text-align: center; font-weight:bold">
                                <div class="form-group col-4 container-sm bg-white justify-content-center">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="newUser" class="col-form-label">Имя</label>
                                            <input type="text" class="form-control" th:field="*{username}" id="newUser" name="newUser" placeholder="Имя">
                                        </div>
                                        <div class="form-group">
                                            <label for="newEmail" class="col-form-label">eMail</label>
                                            <input type="text" class="form-control" th:field="*{email}" id="newEmail" name="newEmail">
                                        </div>
                                        <div class="form-group">
                                            <label for="newAge" class="col-form-label">Возраст</label>
                                            <input type="number" class="form-control" th:field="*{age}" id="newAge" name="newAge">
                                        </div>
                                        <div class="form-group">
                                            <label for="newPassword" class="col-form-label">Пароль</label>
                                            <input type="text" class="form-control" th:field="*{password}" id="newPassword" name="newPassword">
                                        </div>
                                        <div class="form-group">
                                            <strong><label for="role">Роль</label></strong>
                                            <select multiple class="custom-select w-100"
                                                    size="2" id="role" name="role">
                                                <option
                                                        th:each="role : ${roleSet}"
                                                        th:text="${role.getName()}"
                                                        th:value="${role.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-success" value="Дабавить нового юзера">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
        </div>
    </div>
</div>
</body>
</html>
